.user_main{
	width: 100%;
	min-width: 1200px;

}
.register_content{
	margin: 0 auto;
	width: 1200px;
}
.register_content .main_title{
	position: relative;
	margin-top: 50px;
	height: 40px;
	border-top: 1px solid #ddd;
}
.register_content .main_title h1{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -60px;
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 36px;
	background-color: #fff;
	text-align: center;
	cursor: default;
}
.register_content .main_from{
	padding-left: 400px;
}
.register_content .main_from p{
	width: 400px;
	height: 30px;
	line-height: 30px;
}
.register_content .main_from a{
	color: #00a1d6;
}
.register_content .main_from a:hover{
	color: #f25d8e;
}
.main_from .security_level{
	text-indent: 2px;
	cursor: default;
}
.main_from .security_level span{
	font-size: 14px;
	font-weight: bold;
}
.main_from .security_level.active{

}
.main_from label{
	display: block;
	width: 400px;
}
.main_from label>*{
	float: left;
}
.register_content .main_from .agreement{
	padding: 10px 0;
	height: 20px;
	line-height: 20px;
}
.main_from .agreement>*{
	float: left;
}
.main_from .agreement span{
	margin-left: 5px;
	line-height: 20px;
	cursor: default;
}
.from_email{
	text-align: right;
}
.from_phone{
	position: relative;
	height: 40px !important;
	line-height: 40px !important;
}
.phone_send_message{
	position: absolute;
	top: 2px;
	right: 2px;
	height: 36px !important;
	line-height: 36px !important;
	font-size: 14px;
}

/* 邮箱注册 */
.main_from.email_box{
	padding: 0;
	width: 1200px;
	text-align: center;
}
.email_box>div{
	display: inline-block;
	margin: 0 auto;
}
.register_content .main_from .email_title{
	width: auto;
	text-align: center;
}
.email_box .email_title span{
	font-size: 16px;
}
.email_box .center{
	margin: 0 auto;
}

/* 找回密码 */
.resetpwd .from_phone{
	display: none;
}
.resetpwd .from_phone input{
	background-color: #f9fafc;
}
.resetpwd .from_phone.active{
	display: block;
}
.resetpwd .hide{
	display: none;
}

/* 图形验证码 */
.register_content p.captcha{
	position: relative;
	width: 330px;
	height: 40px;
	line-height: 40px;
}
.photo_captcha{
	position: absolute;
	top: 1px;
	right: 2px;
	width: 120px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #e8e8e8;
	font-size: 14px;
}