/* wrapColumn */
.wrapColumn{
	width: 860px;
}
/* title */
.wrapColumn .title{
	padding-bottom: 15px;
	height: 30px;
}
.wrapColumn .dynamic{
	float: left;
}
.wrapColumn .dynamic>*{
	float: left;
}
.wrapColumn .dynamic i{
	margin: -9px 10px 0 0;
	width: 40px;
	height: 40px;
	background-image: url(https://static.hdslb.com/images/base/icons.png);
}
.wrapColumn .dynamic .name{
	margin-right: 15px;
	font-size: 24px;
	color: #333;
}
.wrapColumn .dynamic p{
	display: inline-block;
	margin-right: 30px;
	height: 24px;
	line-height: 24px;
}
.wrapColumn .dynamic p span{
	margin: 0 5px;
	padding-bottom: 4px;
	height: 16px;
	line-height: 16px;
	cursor: pointer;
}
.wrapColumn .dynamic p .on{
	color: #00a1d6;
	border-bottom: 1px solid #00a1d6;
}
.wrapColumn .fire{
	height: 24px;
	line-height: 24px;
	color: #6d757a;
	cursor: pointer;
}

.wrapColumn .more{
	float: right;
}
.wrapColumn .more span{
	display: inline-block;
	margin-right: 10px;
	padding: 0 8px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #b8c0cc;
	border-radius: 4px;
	cursor: pointer;
	transition: all .5s;
}
.wrapColumn .more a{
	display: inline-block;
	padding: 0 8px;
	width: 50px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #b8c0cc;
	border-radius: 4px;
	color: #333;
	text-indent: 2px;
	cursor: pointer;
	transition: all .3s;
}


.wrapColumn .dynamic .name:hover{
	color: #00a1d6;
}
.wrapColumn .dynamic p span:hover{
	color: #00a1d6;
}
.wrapColumn .fire:hover{
	color: #00a1d6;
}
.wrapColumn .more span:hover{
	background: #b8c0cc;
}
.wrapColumn .more a:hover{
	text-indent: -2px;
}
.wrapColumn li{
	position: relative;
	float: left;
	margin: 0 20px 20px 0;
	width: 200px;
	height: 165px;
	border-radius: 6px;
	font-size: 0;
	overflow: hidden;
	cursor: pointer;
}
.wrapColumn li:nth-child(4n){
	margin-right: 0;
}
.wrapColumn li:nth-child(n+5){
	margin-bottom: 0;
}
.wrapColumn li img{
	margin-bottom: 5px;
	width: 200px;
	height: 120px;
	border-radius: 6px;
}
.wrapColumn li p{
	height: 40px;
	line-height: 20px;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	transition: all .3s;
}
.wrapColumn li .info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	/*background: #fff;*/
}
.wrapColumn li .info span{
	display: inline-block;
	width: 50%;
	text-indent: 18px;
	color: #99a2aa;
	background-image: url(https://static.hdslb.com/images/base/icons.png);
}
.wrapColumn li div{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 120px;
	opacity: 0;
	transition: all .3s;
}
.wrapColumn li div i{
	position: absolute;
	top: 94px;
	right: 7px;
	width: 24px;
	height: 24px;
	background: url(./../../static/img/icon_later.png) no-repeat;
	background-size: cover;
}
.wrapColumn ul div span{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
	text-indent: 6px;
	color: #fff;
}


.wrapColumn li:hover div{
	opacity: 1;
	background: rgba(0, 0, 0, .3);
}
.wrapColumn li:hover p{
	color: #00a1d6;
}
.wrapColumn li:hover .info{
	height: 0;
}



/* wrapRank */
.wrapRank{
	width: 320px;
}
.wrapRank .title{
	padding-bottom: 15px;
	height: 30px;
}
.wrapRank ul{
	position: relative;
	width: 320px;
	height: 350px;
}
.wrapRank li{
	position: relative;
	margin-bottom: 20px;
	height: 20px;
	cursor: pointer;
}
.wrapRank li:after{
	clear: both;
	content: '';
	display: table;
	height: 0;
}
.wrapRank li>p{
	overflow: hidden;
}
.wrapRank li>p i{
	float: left;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 6px;
	text-align: center;
	color: #fff;
	background: #b8c0cc;
	cursor: default;
}
.wrapRank li .tit{
	float: left;
	max-width: 285px;
	height: 20px;
	line-height: 20px;
	color: #333;
}
.wrapRank li .popupInfo{
	display: none;
	position: absolute;
	top: -198px;
	left: 0;
	padding: 10px;
	width: 360px;
	background: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	z-index: 9;
	transition: all 1s .5s;
	visibility: hidden;
}
.wrapRank li .popupInfo p{
	margin-bottom: 5px;
	height: 20px;
	line-height: 20px;
	color: #99a2aa;
}
.wrapRank li .popupInfo p:last-child{
	margin: 0;
}
.wrapRank li .popupInfo .textTitle{
	color: #333;
	overflow: hidden;
}
.wrapRank li .popupInfo .descript{
	padding: 10px 0;
	height: 70px;
	border-top: 1px solid #99a2aa;
	border-bottom: 1px solid #99a2aa;
	font-size: 0;
}
.wrapRank li .descript img{
	float: left;
	margin-right: 5px;
	width: 100px;
	height: 70px;
}
.wrapRank li .descript span{
	display: inline-block;
	float: left;
	width: 255px;
	height: 60px;
	line-height: 20px;
	overflow: hidden;
}
.wrapRank li .statistic span{
	display: inline-block;
	width: 25%;
	text-indent: 18px;
	color: #99a2aa;
	background-image: url(https://static.hdslb.com/images/base/icons.png);
}
.wrapRank li .statistic span:last-child{
	width: 60px;
}

.wrapRank li:hover .tit{
	color: #00a1d6;
}
.wrapRank li:hover .popupInfo{
	display: inline-block;
	animation: toggle .5s .6s forwards;
	-webkit-animation: toggle .5s .6s forwards;
}
@keyframes toggle{
	from {
		visibility: hidden;
	}
	to {
		visibility: visible;
	}
}
.wrapRank .more{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	color: #333;
	background: #e5e9ef;
	text-align: center;
	cursor: pointer;
	transition: all .3s;
}


.wrapRank .rankTab{
	float: left;
}
.wrapRank .rankTab>*{
	float: left;
}
.wrapRank .rankTab>span{
	margin-right: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: 400;
}
.wrapRank .rankTab p span{
	margin: 0 5px;
	padding-bottom: 4px;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
}
.wrapRank .rankTab p .on{
	color: #00a1d6;
	border-bottom: 1px solid #00a1d6;
}
.wrapRank .other{
	float: right;
	width: 45px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #b8c0cc;
	border-radius: 4px;
	overflow: hidden;
	cursor: default;
}
.wrapRank .other span{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	color: #333;
	text-indent: 6px;
	text-align: center;
}
.wrapRank .other span:last-child{
	width: 46px;
	height: 24px;
	line-height: 24px;
	text-indent: -10px;
	cursor: pointer;
}
.wrapRank .other:hover{
	height: 44px;
}
.wrapRank .other span:last-child:hover{
	background: #e5e9ef;
}
.wrapRank .more:hover{
	background: #ccd0d7;
}


/* wrapDynamicColumn */
.wrapDynamicColumn{
	width: 860px;
}
.wrapDynamicColumn .title{
	padding-bottom: 15px;
	height: 30px;
}
.wrapDynamicColumn .dynamic{
	float: left;
}
.wrapDynamicColumn .dynamic>*{
	float: left;
}
.wrapDynamicColumn .dynamic i{
	margin: -9px 10px 0 0;
	width: 40px;
	height: 40px;
	background-image: url(https://static.hdslb.com/images/base/icons.png);
}
.wrapDynamicColumn .dynamic .name{
	margin-right: 25px;
	font-size: 24px;
	color: #333;
}
.wrapDynamicColumn .dynamic .name:hover{
	color: #00a1d6;
}
.wrapDynamicColumn .more{
	float: right;
}
.wrapDynamicColumn .more a{
	display: inline-block;
	padding: 0 8px;
	width: 90px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #f25d8e;
	border-radius: 4px;
	color: #f25d8e;
	font-size: 14px;
	text-indent: 2px;
	cursor: pointer;
	transition: all .3s;
}
.wrapDynamicColumn .more a:hover{
	color: #fff;
	background: #f25d8e;
}
.wrapDynamicColumn .dynamic li{
	float: left;
	width: 70px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	border-bottom: 1px solid #eee;
	text-align: center;
	cursor: pointer;
	transition: all .3s;
}
.wrapDynamicColumn .dynamic li.active{
	color: #00a1d6;
	border-bottom: 1px solid #00a1d6;
}
.wrapDynamicColumn .dynamic li:hover{
	color: #00a1d6;
}
.wrapDynamic{
	padding-top: 10px;
	height: 410px;
	overflow-y: hidden;
}
.wrapDynamic li{
	position: relative;
	float: left;
	margin: 0 20px 0 0;
	width: 200px;
	height: 80px;
	font-size: 0;
	overflow: hidden;
}
.wrapDynamic li:nth-child(4n){
	margin-right: 0;
}
.wrapDynamic li:nth-child(n+5){
	margin-top: 30px;
}
.wrapDynamic li img{
	float: left;
	margin-right: 10px;
	width: 80px;
	height: 80px;
	border-radius: 6px;
	cursor: pointer;
}
.wrapDynamic li div{
	position: relative;
	float: left;
	padding-right: 10px;
	width: 100px;
	height: 80px;
}
.wrapDynamic li div .text{
	color: #333;
}
.wrapDynamic li div .text:first-child{
	display: block;
	max-height: 50px;
	overflow: hidden;
	cursor: pointer;
	transition: all .3s;
}
.wrapDynamic li div .text:first-child:hover{
	color: #00a1d6;
}
.wrapDynamic li div .text:last-child{
	position: absolute;
	bottom: 5px;
	left: 0;
	color: #aaa;
}
.wrapDynamic li span a{
	display: inline-block;
	margin-left: 5px;
	padding: 0 7px;
	color: #fff;
	background: #b8c0cc;
	border-radius: 8px;
	cursor: pointer;
}
.wrapDynamic li span .new{
	background: #ff8eb3;
}







/* config */
.icon_animate{
	background-position: -141px -908px;
}
.icon_bangumi{
	background-position: -141px -140px;
}
.icon_bangumi_cn{
	background-position: -141px -140px;
}
.icon_music{
	background-position: -140px -266px;
}
.icon_dance{
	background-position: -141px -461px;
}
.icon_game{
	background-position: -141px -203px;
}
.icon_technology{
	background-position: -141px -525px;
}
.icon_life{
	background-position: -137px -970px;
}
.icon_kichiku{
	background-position: -141px -332px;
}
.icon_fashion{
	background-position: -141px -718px;
}
.icon_advertisement{
	background-position: -140px -1228px;
}
.icon_happy{
	background-position: -141px -1032px;
}
.icon_movie{
	background-position: -141px -396px;
}
.icon_teleplay{
	background-position: -141px -845px;
}
.icon_cinephile{
	background-position: -140px -1356px;
}
.icon_documentary{
	background-position: -140px -1292px;
}
.icon_special_recommod{
	background-position: -141px -780px;
}

.icon_play{
	background-position: -282px -86px;
}
.icon_danmaku{
	background-position: -282px -214px;
}
.icon_favorites{
	background-position: -282px -342px;
}
.icon_coins{
	background-position: -282px -406px;
}